@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --color1: #50232e;
    --color2: #ce5f2d;
    --color3: #f9b966;
    --color4: #fbe083;
    --color5: #a1cca5;
    --colorBg: #fff4cd;
    --blancoCustom: #fafafa;
    --negroCustom: #0a0a0a;

    --fuentePrim: 'Lato', sans-serif;
    --fuenteSec: 'Open Sans', sans-serif;
    --fuenteThird: 'Roboto', sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrim);
    background-color: var(--colorBg);
}

a {
    text-decoration: none;
    padding-right: 15px;
}

img {
    width: 400px;
    margin: 10px;
}

/* Barra Nav */
.contenedor {
    width: 900px;
    padding: 15px;
}

/* .barra-nav {
    background: var(--color1);
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.nav__link {
    font-weight: bold;
    color: var(--color4);
}
.nav__link:hover {
    color: var(--blancoCustom);
}

.logo {
    margin-left: 10px;
    color: var(--color4);
}

.nav {
    margin-right: 10px;
}

/* =================================================== */

/* Seccion 1 - INICIO */

.seccion-1 {
    width: 900px;
    height: 400px;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.art-1 {
    margin-top: 14px;
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
}
.art-2 {
    margin-top: 13px;
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
}

main article div picture {
    display: flex;
    justify-content: center;
}

.data__titulo {
    margin: 15px;
}

.data__texto {
    margin-left: 15px;
    margin-bottom: 10px;
}

.btn__articulo {
    display: flex;
    justify-content: center;
    background-color: #f3f3;
}

/* Seccion 2 - SOBRE MI */

.seccion-2 {
    width: 900px;
    height: 400px;
    margin: 40px auto;
    background-color: #fff;
    padding: 10px;
}

/* Formulario - FORM */

.seccion-3 {
    width: 500px;
    margin: 0 auto;
}

.formulario {
}

.estructura__form div label {
    display: flex;
    padding: 10px;
}
.estructura__form div input {
    display: flex;
    width: 90%; 
    padding: 10px;  
    margin: 0 auto;
}
.estructura__form div textarea {
    display: flex;
    width: 90%;    
    padding: 10px;  
    margin: 0 auto;
}

/* Footer - FOOTER */